<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Register</title>
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                            <div class="form-group">
                                <input type="text" class="form-control " name="username" placeholder="用户名"
                                       id="username">
                            </div>
                            <div class="form-group ">
                                <input type="password" class="form-control " name="password" placeholder="密码" id="password">
                            </div>
                            <div class="form-group ">
                                <select name="identity" class="form-control ">
                                    <option value="1" class="dropdown-item">教师</option>
                                    <option value="0" class="dropdown-item">学员</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="submit" class="btn btn-primary  btn-block" value="注册">
                            </div>
                            <hr>

                        </form>
                        <p id="errorMessage" style="color:red"></p>
                        <div class="text-center">
                            <a href="/login/" class="small">已经拥有账号，登陆</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js"></script>

<script>
      $("#username").blur(
          function () {
              var value = $("#username").val();
              var url = "/userValid/";
              var sendData={//post请求方式传参
                  "username":value,
                  "csrf_token":'{{csrf_token()}}'
              };
              console.log(value);
              $.ajax(
                  {
                      url: url,
                      type: "post",
                      data: sendData,//post请求方式传参参数,切记没有引号，是一个变量。
                      success: function (data) {
                          if(data.code == 400){
                              $("#submit").attr("disabled",true)
                          }else{
                              $("#submit").attr("disabled",false)
                          }
                          $("#errorMessage").text(data.data);
                          console.log(data)
                      },
                      error: function (error) {
                          console.log(error)
                      }
                  }
              )
          }
      )
</script>
{#<script>#}
{#      $("#username").blur(#}
{#          function () {#}
{#              var value = $("#username").val();#}
{#              var url = "/userValid/?username="+value;#}
{#              console.log(value);#}
{#              $.ajax(#}
{#                  {#}
{#                      url: url,#}
{#                      type: "get",#}
{#                      data: "",#}
{#                      success: function (data) {#}
{#                          if(data.code == 400){#}
{#                              $("#submit").attr("disabled",true)#}
{#                          }else{#}
{#                              $("#submit").attr("disabled",false)#}
{#                          }#}
{#                          $("#errorMessage").text(data.data);#}
{#                          console.log(data)#}
{#                      },#}
{#                      error: function (error) {#}
{#                          console.log(error)#}
{#                      }#}
{#                  }#}
{#              )#}
{#          }#}
{#      )#}
{#</script>#}
</body>
</html>

